[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gromovlab"]
	path = gromovlab
	url = https://github.com/cran/gromovlab
	shallow = true
	registered = true
